{{ define "basicCard" }}
    <div class="card">
        <div class="card-header">
            --> {{.Title}} <-- Something Should Be here
        </div>
        <div class="card-body">
            <p class="card-text">Ignore This Text</p>
            <a href="#?{{.Action}}" class="btn btn-primary">{{.Button}}</a>
        </div>
    </div>
{{ end }}